body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

a {
  font-size: 16px;
  color: Aquamarine;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}